{% extends 'bookings/bookings_base.html' %}
{% block title %}
Group Info
{% endblock %}



{% block content %}

<br><br>
<div class="container">

  <div class="card text-white border-secondary mx-auto mb-5 " style='background-color:rgb(145, 0, 61); width:30rem'>
    <div class="card-body">
      <div class="card-title text-center mx-auto">

      </div>
      <div class="card-text">
        <h4>From : {{booking.start_position}}</h4>
        <h4>To : {{booking.destination}}</h4>
        <h4>Date : {{booking.date}}</h4>
        <h4>Time : {{booking.time}}</h4>
        <h4>Group-Admin : {{booking.creator}}</h4>
        <h4>No. of Members : {{booking.members.count|add:"1"}}<small> /{{booking.max_members}}</small></h4>
        <h4>Max no. of Members : {{booking.max_members}}</h4>
        <h4>Group open to: {{booking.gender}}</h4>

        <br>
        <div class="card-link">
          {% if user.username == booking.creator %}
          <a href="{% url 'bookings:bookings_update' pk=booking.pk %}" class='btn btn-warning btn-sm '>Edit</a>
          <a href="{% url 'bookings:bookings_delete' pk=booking.pk %}" class='btn btn-danger btn-sm '>Delete</a>
          {% else %}
                    {% if booking.members.count|add:"1" < booking.max_members %}
                    <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm">Join</a>
                    {% else %}
                    <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm disabled">Join</a>
                    {% endif %}
                    <a href="{% url 'bookings:group_leave' pk=booking.pk %}" class='btn btn-info btn-sm'>Leave</a>
          {% endif %}

          <a href="{% url 'bookings:group_info' pk=booking.pk %}" class='btn btn-secondary btn-sm'>Info</a>
          <a href="{% url 'bookings:chats_display' pk=booking.pk %}" class='btn btn-primary btn-sm'>Chat</a>

        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h6>Description: {{booking.description}}</h6>
<br>
    <h3>Group Admin: <a href="{% url 'accounts:user_detail' pk=booking.user.pk %}">{{booking.creator}}</a></h3>
    <br>
    <h3>Other Group Members:</h3>
      {% for member in booking.members.all %}
      <h3><a href="{% url 'accounts:user_detail' pk=member.user.pk %}">{{member.name}}</a></h3>

      {% endfor %}

  </div>



</div>

{% endblock %}
