{% extends 'bookings/bookings_base.html' %}


{% block title%}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class='nav-link active mx-auto' href="{% url 'bookings:chats_create' pk=booking.pk %}">Message</a>
</nav>

{% for chat in booking.chats.all %}
{% if user.username == chat.name %}
<div class="container">
  <div class="alert alert-success alert-dismissible fade show" style='width:20em;  padding-left:0.5em; ' role="alert">
    <div class="media">

      <img src="{{chat.photo.url}}" height="50em" width='50em' alt='no image' class='mr-3'>

      <div class="media-body">
        <h6>{{chat.name}}</h6>
        {{chat.message}}
        <footer><small>{{chat.time}}</small></footer>


      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="alert alert-primary alert-dismissible fade show" style='width:20em;  padding-left:0.5em; ' role="alert">
    <div class="media">
      <img src="{{chat.photo.url}}" height="50em" width='50em' alt='no image'  class='mr-3'>

      <div class="media-body">
        <h6>{{chat.name}}</h6>
        {{chat.message}}
        <footer><small>{{chat.time}}</small></footer>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}


{% endblock %}
