{% extends 'bookings/bookings_base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<br>



{% if messages %}
{% for message in messages %}
<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message|safe }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{% endfor %}
{% endif %}

<br>

<div class="row">
  <div class="col-lg-3  ">

    <div class="container">
      <div class="container text-white" style="background-color:#00796b">
        <!-- {% if hehehe.count == 0 %}
        {% else %}
        <div class="text-center">
          Now showing
        </div>
        {% endif %} -->

        {% for he in hehehe %}
        <p class='mt-1' style='padding:0; margin:0;'>{{he}}</p>
        {% endfor %}
      </div>
      <div class="card mt-3">

        <div class="card-body">
          <div class="container">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-success ">Filter</button>

              </div>


            </form>
            <hr>
            <div class="text-center">
              <a href="{% url 'index' %}" class='btn btn-danger '>Show all</a>
              <a href="{% url 'bookings:bookings_create' %}" class='btn btn-primary'>Create</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-9">

    <div class="container">
      <div class="row">
        <div class="card-group ">
          <!-- <div class="col-md-4"> -->
          {% if custom.count == 0 %}
          <div class="container">
            <h1 class='mt-5' style="text-align:center; color:#00796b;" id="no_booking">No Bookings</h1>

          </div>
          {% endif %}


          {% for booking in custom %}

          <div class="col-lg-6">

            <!-- {% if user.is_member %}
              sjfhskjhf
              {% endif %}

              {% if request.user in booking.members.all %}
              hahahahahah
              {% endif %} -->


            {% if user.username == booking.creator %}
            <div class="card text-white border-secondary mx-auto mt-3 mb-4 " style="background-color:rgb(23, 38, 87); border-radius=5px;">
              {% else %}
              <div class="card text-white border-secondary mx-auto mt-3 mb-4 " style="background-color:rgb(23, 38, 87); border-radius=5px;">
                {% endif %}
                <div class="card-body" style='border: 1px solid rgb(23, 38, 87) '>
                  <div class="card-title text-center">

                  </div>
                  <div class="card-text">
                    <h6>From : {{booking.start_position}}</h6>
                    <h6>To : {{booking.destination}}</h6>
                    <h6>Date : {{booking.date|date:'d-m-Y'}}</h6>
                    <h6>Time : {{booking.time}}</h6>
                    <h6>Group-Admin : {{booking.creator}}</h6>
                    <h6>No. of Members : {{booking.members.count|add:"1"}}<small style='text-muted'> /{{booking.max_members}}</small></h6>
                    <h6>Group open to: {{booking.gender}}</h6>
                    <br>
                    <div class="card-link">
                      {% if user.username == booking.creator %}
                      <a href="{% url 'bookings:bookings_update' pk=booking.pk %}" class='btn btn-warning btn-sm '>Edit</a>
                      <a href="{% url 'bookings:bookings_delete' pk=booking.pk %}" class='btn btn-danger btn-sm '>Delete</a>
                      {% else %}
                                {% if booking.members.count|add:"1" < booking.max_members %}
                                <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm">Join</a>
                                {% else %}
                                <a href="{% url 'bookings:group_join' pk=booking.pk %}" class="btn btn-success btn-sm disabled">Join</a>
                                {% endif %}
                                <a href="{% url 'bookings:group_leave' pk=booking.pk %}" class='btn btn-info btn-sm'>Leave</a>
                      {% endif %}

                      <a href="{% url 'bookings:group_info' pk=booking.pk %}" class='btn btn-secondary btn-sm'>Info</a>
                      <a href="{% url 'bookings:chats_display' pk=booking.pk %}" class='btn btn-primary btn-sm'>Chat</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            <br>
          </div>
        </div>
      </div>
    </div>



      <div class="container-fluid mt-5" style='background-color:  rgb(28, 26, 27);'>
        <div class="row">
          <div class="col-md-3" style='border-right:1px solid rgb(62, 63, 64)'>
            <h5 style='color:rgb(176, 172, 175);'>IIT Guwahati</h5>
            <a href="http://www.iitg.ac.in/" style="color:rgb(227, 228, 230)">IIT Guwahati</a>
            <br>
          </div>
          <div class="col-md-6" style="border-right:1px solid rgb(62, 63, 64)">
            <h5 class='text-center' style='color:rgb(176, 172, 175); align:center;'>Contact Us</h5>
            <div class="row">
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
              </div>
              <div class="col-6 " style="color:rgb(227, 228, 230)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>

              </div>
            </div>
            <br>
          </div>
          <div class="col-md-3" style='align:right;'>
            <h5 style='color:rgb(176, 172, 175)'>Follow Us</h5>
            <a href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html" style="color:rgb(227, 228, 230)">Coding Club</a><br>
            <a href="https://www.facebook.com/codingclubiitg/" style="color:rgb(227, 228, 230)">facebook</a>
          </div>
        </div>

      </div>




  </div>
  {% endblock %}
